body {
  max-width: 100%;
}

#navbar {
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: -3px;
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  border: 1px solid rgb(176, 176, 176);
  text-decoration: none;
  box-sizing: border-box; /* Add this line to include border and padding in the specified width */
}

#navbar a {
  text-decoration: none;
  color: rgb(74, 74, 74);
}

#navbar h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  padding-left: 20px;
}

#navbar p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  padding: 10px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

.article-title {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.article-content {
  padding-top: 15px;
}
